<div class="flex flex-col">
    <header
    class=" inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md border border-gray-100 bg-black text-white py-3 shadow backdrop-blur-lg md:top-6 md:rounded-3xl lg:max-w-screen-lg">
    <div class="px-4 flex items-center justify-between">
        <div class="hidden md:flex md:items-center md:justify-start text-center">
            <a aria-current="page"
                class="inline-block rounded-lg px-2 py-1 text-sm font-medium transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
                routerLink="/">AppScolarité</a>
        </div>
        <div class="hidden md:flex md:items-center md:justify-center text-center">
            <a aria-current="page"
                class="inline-block rounded-lg px-2 py-1 text-sm font-medium transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
                routerLink="/etudiant">Etudiants</a>
            <a class="inline-block rounded-lg px-2 py-1 text-sm font-medium transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
                routerLink="/specialite">Specialite</a>
        </div>
    </div>
    </header>

</div>